.container, .title {
    margin: 0;
    padding-top: 37px;
    box-sizing: border-box;
    background-color: #57596c;
    color: whitesmoke;
    font-size: 39px;
    letter-spacing: -0.03rem;
}

.container {
    background-image: url('../images/logo192.png') ;
    background-repeat: no-repeat;
    background-position: 70% 70%;
}

.title {
    padding-left: 150px;
}

.main__listItem {
    font-size: 1.5rem;
    /* display: block; */
    line-height: 60px;
    margin-left: 200px;
}

.main__listItem::marker {
    color: #61DAFB;
    font-size: 30px;
} 